:root {
    --sidebar-color: #1992d4;
    --card-border-color: #f0b429;
    --main-bgr-color: #e2e8f0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template: 150px 1fr / minmax(min-content, 350px) 1fr 300px;
    min-height: 100vh;
}

img {
    width: 25px;
}

.header {
    grid-column: 2 / 4;
}

.header-row:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info {
    display: grid;
    grid-template: 2fr 3fr / 1fr 4fr;
}

.user-info > img {
    grid-row: 1 / -1;
}


/* * * * * * */
/*  Sidebar  */
/* * * * * * */
.sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 70px;

    padding-top: 1rem;
    padding-right: 1rem;
    background-color: var(--sidebar-color);
    color: white;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 18px;

    padding-left: 1.4rem;
    font-size: 1.4rem;
}

.sidebar-section {
    display: grid;
    gap: 15px;
}

.sidebar > :first-child {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
}

.sidebar > :first-child > img {
    width: 50px;
}
/* * * * * * * * */
/*  Sidebar end  */
/* * * * * * * * */


.main-content {

}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.side-content {

}