:root {

}

body {
    display: grid;
    grid-template: 150px 1fr / 300px 1fr 300px;
}

.header {
    grid-column: 2 / 4;
}

.header-row:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info {
    display: grid;
    grid-template: 2fr 3fr / 1fr 4fr;
}

.user-info > img {
    grid-row: 1 / -1;
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    
}

.main-content {

}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.side-content {

}