:root {
    --sidebar-color: #1992d4;
    --card-border-color: #f0b429;
    --main-bgr-color: #e2e8f0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template: 150px 1fr / minmax(min-content, 350px) 1fr 300px;
    min-height: 100vh;
}

img {
    width: 25px;
}

/* * * * * * */
/*  Header  */
/*  * * * * */

.header {
    grid-column: 2 / 4;

    padding: 1rem 2rem;

    display: grid;
    align-items: center;
    gap: 25px;
}

.header .first-row {
    display: flex;
    align-items: center;
    gap: 25px;

    font-size: 1.2rem;
    font-weight: bold;
}

.header .search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .first-row input {
    width: 75%;
    margin-right: auto;
    appearance: none;
    border: none;
    background-color: var(--main-bgr-color);
    height: 2rem;
    border-radius: 15px;
    padding: 10px;
}

.header-row:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 10px;
}

.user-info {
    display: grid;
    grid-template: 2fr 3fr / 50px 4fr;
    align-items: center;
    column-gap: 20px;
    font-weight: bold;
}

.user-info > span:first-of-type {
    align-self: end;
}

.user-info > span:last-of-type {
    align-self: center;
    font-size: 1.6rem;
    min-width: max-content;
}

.user-info > img {
    grid-row: 1 / -1;
    justify-self: center;
    width: 70px;
}

.header-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

    padding-left: 20px;
}

.header-buttons button {
    background-color: var(--sidebar-color);
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 20px;
}


/* * * * * * */
/*  Sidebar  */
/* * * * * * */
.sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 70px;

    padding-top: 1rem;
    padding-right: 1rem;
    background-color: var(--sidebar-color);
    color: white;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 18px;

    padding-left: 1.4rem;
    font-size: 1.4rem;
}

.sidebar-section {
    display: grid;
    gap: 15px;
}

.sidebar > :first-child {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
}

.sidebar > :first-child > img {
    width: 50px;
}



/*  * * * * * * * */
/*  Main content  */
/*  * * * * * * * */
.main-content {

}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.side-content {

}